/* this for google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* addding bopdy css */
body{
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.514) 21%, rgba(0, 0, 0, 0.575) 62%),
    url(../assets/img/bg-sm-003.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
/* this os for elige text css */
.text{
    font-family: 'Poppins';
    font-weight: 700;
    color:#fff;
    font-size:60px;
    text-align: center;
    margin-top:100px;
    background:linear-gradient(rgba(0, 0, 0, 0.664),red,red,rgb(0, 0, 0) );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-box-shadow: 1px 1px 9px 5px #000000; 
box-shadow: 1px 1px 9px 5px #000000;
    
}
/* this is for lets go btn css */
.btn-1{
   display: flex;
  justify-content: center;
  margin-top:150px;

}
button{
    width:60vw;
    background-color: rgba(255, 255, 255, 0.678);
    border-radius:100px;
    box-sizing:content-box;
   
}
.lets{
    font-family:'poppins';
    font-weight: 700;
    font-size:35px;
}

/* main body flexcss */
.body{
    display: flex;
    align-items: center;
    justify-content: center;
}